
*.blade.php diff=html
CHANGELOG.md export-ignore
*.css diff=css
/.github export-ignore
*.html diff=html
*.md diff=markdown
*.php diff=php
*.sh text eol=lf
.styleci.yml export-ignore
* text=auto eol=lf
